
.titel_wrapper{
  background-color: rgba(255, 255, 255, 0.5);
  height: 6em;
  margin-bottom: 1em;
  padding-left: 3em;
  border-bottom: 1px solid #e3e3e3;
}
.login_link{
  position: absolute;
  right: 0;
  top: 0em;
  margin: 1em 2em;
}
.modal-content{
  background-color: rgba(255, 255, 255, 0.5);
}
.modal-header{
  background-color: rgba(255, 255, 255, 0.75);
}

#poster_gallery > li{
  display: inline;
  list-style: none;
}

.hidden{
  display: none;
}

li#prototype.hidden{
  display: none;
}

.hightlight{
  -webkit-box-shadow: 21px -9px 52px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 21px -9px 52px 0px rgba(0,0,0,0.42);
box-shadow: 21px -9px 52px 0px rgba(0,0,0,0.42);
}
#canvas{
  /*margin: 0 auto;*/
  /*width: 100%;*/
}

#content{
  /*width: 80%;
  margin: 0 auto;*/
  background-color: rgba(255, 255, 255, 0.5);
}
#text{
  max-width: 48em;
}
