{
  margin: 0;
  padding: 0;
  border: 0;
}
.logButton {
  text-align: right;
  font-size: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin-right: 15%;
}
/*h2 {
  text-align: center;
  font-size: 150%;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 2% 0;
}
h3 {
  text-align: center;
  font-size: 275%;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1%;
} */
.parallax {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;

/*background-image: url("../pictures/tbbt_logo.jpg")*/
  background: url("../pictures/tbbt_logo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
/*  repeat fixed 100%;*/
}
/*Navbar collapse item change color*/
.icon-bar {
   background-color:#fff !important;
}
.parallax-top {
  padding-top: 0%;
  height: 300;/*10%*/
  max-height: 300;
}
.parallax-inner {
  height: 250px;
  max-height: 250px;
  white-space: nowrap;
  overflow: hidden;
}
.parallax-free-space {
  padding-top: 5%;
  padding-bottom: 5%;
}
.parallax-bottom {
  background-color:rgba(255, 255, 255, 0.5);
  padding-bottom: 5%;
}


.carousel-img-size {
  width: auto;
  height: 150px;
  max-height: 150px;
  counter-increment: carousel-img-size;
}

.text {
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%
}

/* This is for modal. Without this would be the application doing padding-right
    with a certain value of px, everytime, when somebody open a modal*/
body {
padding-right:0px !important;
margin-right:0px !important;
}

ol.flickity-page-dots {
    visibility: hidden;
}

/* inherit height from parent */
.gallery {
  height: 100%;
}

/* Put the img in the center */
.flickity-slider {
  display: flex;
  align-items: center;
}


ul.gallery li {
  float: left;
  /*margin: 0 10px;*/
  padding: 2%;
  list-style: none;
}
ul.gallery li a img {
float: left;
height: 200px;
width: auto;
-webkit-transition: -webkit-transform 0.2s ease-in-out;
-moz-transition: -moz-transform 0.2s ease-in-out;
transition: transform 0.2s ease-in-out;
}
ul.gallery li a:hover img {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
