<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>HUHU</title>
  <link rel="icon"
      type="image/png"
      href=""/>
  <link rel="stylesheet" type="text/css" media="all"
  href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" media="all"
  href="../static/css/canvas.css" th:href="@{/css/canvas.css}" />
  <link rel="stylesheet" type="text/css" media="all"
  href="../static/css/main.css" th:href="@{/css/main.css}" />
  <link rel="stylesheet" type="text/css" media="all"
  href="../static/css/slider.css" th:href="@{/css/slider.css}" />
</head>
<body>
  <div class="container">
    <header class="row">
      <div class="titel_wrapper col-xs-12">
        <h1 id="title"></h1>

        <!-- Button trigger modal -->
        <!-- http://getbootstrap.com/javascript/#modals -->
        <button type="button" class="login_link btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Login
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
              </div>
              <div class="modal-body">
                <!-- form -->
                <form th:action="@{/login}" method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password"/>
                  </div>

                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <!-- form -->
              </div>

            </div>
          </div>
        </div>
        <!-- Modal -->
      </div>
    </header>

  <div class="row">
    <!-- SLIDER -->
    <div class="wrapper col-xs-12">
      <div class="left btn">
        &lt;
      </div>
      <div class="right btn">
        &gt;
      </div>
      <ul id="poster_gallery">
        <li class="hidden" id="prototype"><img class="event_poster" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/The-stages-of-puppy-growth.jpg?itok=9ptPJwY8" alt=""/></li>
      </ul>
      <canvas id="canvas" class="col-xs-12" width="1000" height="100"></canvas>
    </div>
  </div>

  <div class="row">
    <div id="content" class="well col-xs-12  col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
      <h1 id="heading"></h1>
      <p id="date"></p>
      <p id="text">
      </p>
    </div>
  </div>
  </div>
</body>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" charset="utf-8"></script>
<script src="../static/js/metadata.js" th:src="@{/js/metadata.js}" charset="utf-8"></script>
<script src="../static/js/frontend.js" th:src="@{/js/frontend.js}" charset="utf-8"></script>
</html>
